*.py[cod]
*.ipynb_checkpoints

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.pypirc

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
.cache
.pytest_cache/

# Translations
*.mo

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# PyCharm
.idea
.idea/*

# VSCode
.vscode
.vscode/*

# Vagrant
.vagrant
Vagrantfile

# rope project settings
.ropeproject

#conda version
__conda_version__.txt
mbuild/version.py

#virtual env
.env/
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# GROMACS files
*.cpt
*.edr
*.xtc
*.trr
*.tpr

# LAMMPS files
*.lammpstrj
