trigger:
  branches:
    include:
    - master
  tags:
    include:
    - 0.*

pr:
  autoCancel: true
  branches:
    include:
      - master

schedules:
- cron: "0 0 * * *"
  displayName: Daily midnight build for master
  branches:
    include:
    - master
  always: true

stages:
  - stage: Test
    jobs:
      - job: TestsForGMSO
        strategy:
          matrix:
            Python37Ubuntu:
              imageName: 'ubuntu-latest'
              python.version: 3.7
            Python38Ubuntu:
              imageName: 'ubuntu-latest'
              python.version: 3.8
            Python39Ubuntu:
              imageName: 'ubuntu-latest'
              python.version: 3.9
            Python37macOS:
              imageName: 'macOS-latest'
              python.version: 3.7
            Python38macOS:
              imageName: 'macOS-latest'
              python.version: 3.8
            Python39macOS:
              imageName: 'macOS-latest'
              python.version: 3.9

        pool:
          vmImage: $(imageName)

        steps:
          - bash: echo "##vso[task.prependpath]$CONDA/bin"
            displayName: Add conda to path

          - bash: sudo chown -R $USER $CONDA
            condition: eq( variables['Agent.OS'], 'Darwin' )
            displayName: Take ownership of conda installation

          - bash: |
              conda config --set always_yes yes --set changeps1 no
            displayName: Set conda configuration

          - bash: |
              conda install -y -c conda-forge mamba
            displayName: Install mamba

          - bash: |
              mamba update conda -yq
            displayName: Add relevant channels and update

          - bash: |
              sed -i -E 's/python.*$/python='$(python.version)'/' environment-dev.yml
              mamba env create -f environment-dev.yml
              source activate gmso-dev
              pip install -e .
            displayName: Install requirements and testing branch

          - bash: |
              source activate gmso-dev
              pip install pytest-azurepipelines
              python -m pytest -v --cov=gmso --cov-report=html --color=yes --pyargs gmso --no-coverage-upload
            displayName: Run tests

          - bash: |
              source activate gmso-dev
              curl -Os https://uploader.codecov.io/latest/linux/codecov
              chmod +x codecov
              ./codecov -t ${CODECOV_UPLOAD_TOKEN} -C $(Build.SourceVersion)
            condition: and( eq( variables['Agent.OS'], 'Linux'  ), eq( variables['python.version'], '3.7'  )  )
            displayName: Upload coverage report to codecov.io
            env:
              CODECOV_UPLOAD_TOKEN: $(codecovUploadToken)

          - task: PublishCodeCoverageResults@1
            inputs:
              codeCoverageTool: Cobertura
              summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
              reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'
            condition: and( eq( variables['Agent.OS'], 'Linux' ), eq( variables['python.version'], '3.7' ) )
            displayName: Publish coverage report to Azure dashboard

  - stage: Docker
    dependsOn: Test
    condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/master'), startsWith(variables['Build.SourceBranch'], 'refs/tags/0')), ne(variables['Build.Reason'], 'Schedule'))
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: publishDocker
        steps:
          - bash: |
              if [[ $BUILD_SOURCEBRANCH == "refs/heads/master" ]]; then TAG='latest'; else TAG='stable'; fi
              if [[ $BUILD_SOURCEBRANCH != "refs/heads/master" ]]; then VERSION=$(Build.SourceBranch); fi;
              echo "##vso[task.setvariable variable=VERSION;]${VERSION:10}"
              echo "##vso[task.setvariable variable=DOCKER_TAG;]$TAG"
            displayName: Export Docker Tags
          - task: Docker@2
            displayName: Login to docker hub
            inputs:
              command: login
              containerRegistry: mosdefDockerLogin

          - task: Docker@2
            displayName: Build and Push
            inputs:
              command: buildAndPush
              repository: mosdef/gmso
              tags: |
                $(DOCKER_TAG)
                $(VERSION)
          - task: Docker@2
            displayName: Logout
            inputs:
              command: logout
              containerRegistry: mosdefDockerLogin
