name: CI

on:
  push:
    branches:
      - "master"
      - "ditch-azp-gha"
  pull_request:
    branches:
      - "master"
  schedule:
    - cron:  "0 0 * * *"

jobs:
  test:
    if: github.event.pull_request.draft == false
    name: GMSO Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest]
        python-version: [3.7, 3.8, 3.9]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v2
        name: Checkout Branch / Pull Request

      - name: Install Mamba
        uses: mamba-org/provision-with-micromaba@main
        with:
          environment-file: environment-dev.yml
          extra-specs: |
            python=${{ matrix.python-version }}

      - name: Install Package
        run: python -m pip install -e .

      - name: Test (OS -> ${{ matrix.os }} / Python -> ${{ matrix.python-version }})
        run: python -m pytest -v --color yes gmso/tests
